.DS_Store
/registration/target/
/gwt-cordova/target/
/gwt-cordova/src/main/webapp/media/*.wav
/gwt-cordova/src/main/webapp/media/*/*.mp3
/gwt-cordova/src/main/webapp/media/*/*.m4a
/gwt-cordova/src/main/resources/static/
/gwt-cordova/src/main/webapp/static/
/gwt-cordova/src/main/ReplacementAudio/
/target/
/ExperimentDesigner/target/
/gwt-cordova/targetDirectory/
/targetDirectory/
/registration/src/main/sh/dbbackups/
/registration/src/main/sh/timestamps4.json
/registration/src/main/sh/timestamps1.json
/registration/src/main/sh/tagevents1.json
/registration/src/main/sh/tagevents4.json
/registration/src/main/sh/participants.json
/registration/src/main/sh/tagevents5.json
/registration/src/main/sh/timestamps2.json
/registration/src/main/sh/screenviews.json
/registration/src/main/sh/tagevents2.json
/registration/src/main/sh/timestamps5.json
/registration/src/main/sh/tagevents0.json
/registration/src/main/sh/tagevents3.json
/registration/src/main/sh/timestamps0.json
/registration/src/main/sh/timestamps3.json
/registration/src/main/sh/frinexdb_db.sql